<% @mechanics.each do |mechanic| %>
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <p> <%= mechanic.name %> </p>
    <p><%= "#{mechanic.city}, #{mechanic.post_code}, #{mechanic.address}" %> </p>
    <p>Phone: <%= mechanic.phone_number %> </p>
    <p>Rating: <%= mechanic.rating %> </p>
    <p> <%= link_to "More info", mechanic %> </p>
  </div>
<% end %>
