<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped" id="users">
    <td><%= sort_link(@q, :name) %></td>
    <td><%= sort_link(@q, :city) %></td>
    <td><%= sort_link(@q, :post_code) %></td>
    <td><%= sort_link(@q, :address) %></td>
    <td><%= sort_link(@q, :phone_number) %></td>
    <td><%= sort_link(@q, :rating) %></td>
    <td><%= sort_link(@q, :verification) %></td>
    <td></td>
    <td></td>
    <% @mechanics.each do |mechanic| %>
    <tr>
      <td><%= mechanic.name %></td>
      <td><%= mechanic.city %></td>
      <td><%= mechanic.post_code %></td>
      <td><%= mechanic.address %></td>
      <td><%= mechanic.phone_number %></td>
      <td><%= mechanic.rating %></td>
      <td><%= mechanic.verification %></td>
      <td><%= link_to "Edit", edit_mechanic_path(mechanic) %></td>
      <td><%= link_to "Delete", mechanic, method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>
