<div class="col-md-6 col-md-offset-3">
  <%= simple_form_for @mechanic do |f| %>
    <%= f.input :name %>
    <%= f.input :city %>
    <%= f.input :post_code %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :description %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.button :submit, name="Add mechanic" %>
  <% end %>
</div>
