<div class="jumbotron">
  <p> <%= @mechanic.name %> </p>
  <p><%= "#{@mechanic.city}, #{@mechanic.post_code}, #{@mechanic.address}" %> </p>
  <p>Phone: <%= @mechanic.phone_number %> </p>
  <p>Rating: <%= @mechanic.rating %> </p>
  <p>Description: <%= @mechanic.description %> </p>
</div>

<%= render 'maps' %>
<%= render 'comments' %>
<%= render 'new_comment' if logged_in? %>
